# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

#CCS files
epaper_basic/Debug
*.project
startup_msp432p401r_ccs.c
epaper_basic/targetConfigs
system_msp432p401r.c
*.settings/org.eclipse.cdt.codan.core.prefs
*.settings/org.eclipse.cdt.debug.core.prefs
._.csproject
.ccsproject
.cproject


# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
